<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://vestshed-api-ezhsfwcgddh2ege9.scm.canadacentral-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/506ae4cb-2bf7-44b5-ac8e-ee5d249987a7/resourcegroups/vetsched_group/providers/Microsoft.ContainerRegistry/registries/vestshedregistry</ContainerResourceId>
    <ContainerResourceName>vestshedregistry</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>vestshedregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/506ae4cb-2bf7-44b5-ac8e-ee5d249987a7/resourcegroups/vetsched_group/providers/Microsoft.Web/sites/vestshed-api</ResourceId>
    <ResourceGroup>vetsched_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://vestshed-api-ezhsfwcgddh2ege9.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a66f04ec-4b30-4f36-9921-e93f7da4cba0</ProjectGuid>
  </PropertyGroup>
</Project>